# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# misc
.env
.env.local
.env.development.local
